{% extends "layout.html" %}

{% block title %}
Notes App
{% endblock %}

{% block content %}

<h1>Welcome to Notes App</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for note in notes %}

      <div class="flex items-center gap-4 p-4 bg-white border rounded-2xl shadow-sm hover:shadow-md transition">
          <img src="{{ note.image.url }}"
               class="w-16 h-16 object-cover rounded-xl">
          <h3 class="text-gray-900 font-semibold">
              {{ note.name }}
          </h3>
          
          <a href="{% url 'notes_detail' note.id %}">
            <button class="bg-amber-500 rounded p-4 hover:shadow-md transition">
                {{ note.id }}
            </button>
        </a>

      </div>
     
  
    {% endfor %}
  
  </div>

{% endblock %}